/*
 * Amethyst Game Library - WASM CSS
 * 2023 - Anderson Bucchianico
 *
*/

* {
    color: white;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    --theme-color: #4fc08a;
    --theme-background: #bdbdbd;
}
html {
    height : 100%;
}
body {
    height: inherit;
    margin: 0;
    background: radial-gradient(white, var(--theme-background));
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas#canvas {
    height: 100%;
    width: 100%;
}
article {
    position: absolute;
    background-color: white;
    border-radius: 1vh;
    padding: 2vh;
    display: grid;
    justify-items: center;
    box-shadow: 2px 2px 6px #bcbcbc;
}
div {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1.5rem;
}
section {
    display: grid;
    align-items: end;
    align-content: space-evenly;
}
button {
    height: 5vh;
    width: 14vh;
    border-radius: 1vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16pt;
    color: white;
    background-color: var(--theme-color);
    box-shadow: 4px 4px #3b946a;
}
button:active {
    box-shadow: 2px 2px #3b946a;
}
button::after {
    content: '';
    background: linear-gradient(45deg, white 50%, transparent 50%);
    transform: scaleX(1.5) rotate(225deg);
    display: block;
    width: 1vh;
    height: 1vh;
}
span {
    color: #555555;
    font-weight: bold;
    font-size: 16pt;
}
img {
    height: 10vh;
}